<!-- annouce Section -->
<section id="announce" class="fill-midnight  contain dark keyline-bottom">
      <div class="limiter pad4y clearfix center">
         <div class="center">
            <h2 class="dark">Benvenuti a Milano!</h2>
         </div>
      </div>
      <div class="col12 clearfix contain center">
        <div class="limiter">
          <div class="col6 pad0y space-bottom2" style="float:unset; display:inline-block;">
             <h3 class="announce-title">Seguici online</h3>
             <p class="varela">Siamo <a href="https://twitter.com/sotm">@sotm</a> su Twitter. Seguici via <a href="https://twitter.com/hashtag/sotm?src=hash">#sotm</a> o sul nostro <a href="https://t.me/joinchat/EX1C8RApiWEIE6J0u6uFcQ">canale Telegram</a>. </p>
          </div>
          <div class="col6 pad0y space-bottom2">
            <h3 class="announce-title">Scarica l'app</h3>
           <p class="varela">La nostra applicazione Android include il programma della conferenza, mappe, tweet, suggerimenti ed altro ancora! Scaricala <a href="https://2018.stateofthemap.org/sotm.apk">qui</a>.</p>
          </div>
        </div>
      </div>
</section>
