<!-- annouce Section -->
<section id="announce" class="fill-midnight  contain dark keyline-bottom">
      <div class="limiter pad8y clearfix center">
         <div class="center">
            <h2 class="dark">Partecipa a State of the Map</h2>
         </div>
      </div>
      <div class="col12 clearfix contain center">
        <div class="limiter">
          <div class="col6 pad0y space-bottom2">
            <h3 class="announce-title"><a href="https://blog.openstreetmap.org/2018/03/07/community-survey-for-the-state-of-the-map-2018-program/">Sondaggio comunitario</a></h3>
            <p class="varela">Partecipa al nostro sondaggio comunitario su OpenStreetMap. E' aperto a tutti!</p>
          </div>
          <div class="col6 pad0y space-bottom2">
            <h3 class="announce-title"><a href="https://blog.openstreetmap.org/2018/04/23/participate-in-our-poster-competition/" class="sub_color">Proposte per i poster</a></h3>
           <p class="varela">Partecipa alla competizione col tuo poster!</p>
          </div>
        </div>
      </div>
      <div class="col12 clearfix contain center space-bottom8">
         <div class="limiter">
            <div class="col6 pad0y space-bottom2" style="float:unset; display:inline-block;">
               <h3 class="announce-title"><a href="https://join.osmfoundation.org/state-of-the-map-2018/" class="sub_color">Biglietti</a></h3>
               <p class="varela">Prezzo scontato fino a sabato 5 maggio!</p>
            </div>
	 </div>
      </div>
</section>
