<!-- annouce Section -->
<section id="announce" class="fill-midnight  contain dark keyline-bottom">
      <div class="limiter pad8y clearfix center">
         <div class="center">
            <h2 class="dark">Partecipa a State of the Map</h2>
         </div>
      </div>
      <div class="col12 clearfix contain center space-bottom8">
         <div class="limiter">
            <div class="col6 pad0y space-bottom2">
               <h3 class="announce-title"><a href="https://blog.openstreetmap.org/2018/01/11/session-proposals-sotm-2018/">Proposte di presentazione</a></h3>
               <p class="varela">Proponi la tua presentazione orale per essere inserito nel programma del convegno.</p>
            </div>
            <div class="col6 pad0y space-bottom2">
               <h3 class="announce-title"><a href="/it/academictrack" class="sub_color">Proposte accademiche</a></h3>
               <p class="varela">Al convegno ci saranno anche presentazioni accademiche. Proponi il tuo abstract!</p>
            </div>
            <div class="col6 pad0y space-bottom2" style="float:unset; display:inline-block;">
               <h3 class="announce-title"><a href="https://blog.openstreetmap.org/2018/01/17/apply-for-support-to-join-us-in-milan-for-state-of-the-map-2018/" class="sub_color">Borse di studio</a></h3>
               <p class="varela">Grazie alla generosità dei nostri sponsor, sono disponibili alcune borse di studio. Candidati adesso!</p>
            </div>
	 </div>
      </div>
</section>
