<section class="fill-light contain center" id="sponsors">
    <div class="limiter pad4y clearfix">
        <div class="col12 sponsors-keyline-bottom space-bottom4 contain center pad4y quiet">
            <h2 class="space-bottom1">Ringraziamo i nostri sponsor</h2>
        </div>

        <h3 class="small-title pink-text uppercase gold_sponsors">Oro</h3>
        <div class="clearfix space-top2 space-bottom2">
            <a href="https://www.bing.com/" class="col2 pad2 space-bottom2 sponsor"><img src="/logos/bing.png"></a>
            <a href="https://facebook.com/" class="col2 pad2 space-bottom2 sponsor"><img src="/logos/facebook.png"></a>
            <a href="https://www.mapbox.com/" class="col2 pad2 space-bottom2 sponsor"><img src="/logos/mapbox.png"></a>
        </div>

        <h3 class="smaller-title uppercase silver_sponsors">Argento</h3>
        <div class="clearfix space-top2 space-bottom4">
            <div class="clearfix">
                <a href="http://www.telenav.com/" class="col2 pad1 margin0r space-bottom2 sponsor"><img src="/logos/telenav.png"></a>
                <a href="http://www.immobiliare.it/" class="col2 pad1 margin0r space-bottom2 sponsor"><img src="/logos/immobiliare.png"></a>
            </div>
        </div>

        <h3 class="smaller-title uppercase bronze_sponsors">Bronzo</h3>
        <div class="clearfix space-top2 space-bottom2">
            <div class="clearfix">
                <a href="http://www.garmin.com/" class="col2 pad1 margin0r space-bottom2 sponsor"><img src="/logos/garmin.png"></a>
                <a href="http://kaart.com/" class="col2 pad1 margin0r space-bottom2 sponsor"><img src="/logos/kaart.png"></a>
                <a href="http://www.mapillary.com/" class="col2  pad1 margin0r  space-bottom2 sponsor"><img src="/logos/mapillary.png"></a>
                <a href="http://maps.me/en/home" class="col2 pad1 margin0r space-bottom2 sponsor"><img src="/logos/mapme.png"></a>
                <a href="https://osmand.net/" class="col2 pad1 margin0r space-bottom2 sponsor"><img src="/logos/osmand.png"></a>
            </div>
        </div>

<!--
        <div class="space-bottom4 quiet">
            <h4 class="uppercase space-bottom1 space-top4">Supporter</h4>
            <a href="https://georepublic.info/ja/" class="space-right2">Georepublic Japan</a>
            <a href="http://mierune.co.jp/" class="space-right2">MIERUNE</a>
            <a href="http://code4japan.org/" class="space-right2">Code for Japan</a>
            <a href="http://www.3bit.co.jp/" class="space-right2">Sunbit System Co.,Ltd.</a>
            <a href="http://thedesignium.com/" class="space-right2">TheDesignium Inc.</a>
        </div>
-->

	<div class="limiter pad8y clearfix center">

	<h2 class="space-bottom2">Ti interesserebbe diventare un nostro sponsor?</h2>
        <p class="varela col8 margin2 quiet pad4x space-bottom4">Scarica <a href="../Sponsorship2018v2b.pdf">la brochure delle sponsorizzazioni</a> e scrivici a <a href="mailto:sponsors@stateofthemap.org">sponsors@stateofthemap.org</a> per maggiori informazioni.</p>

	</div>
</section>
