<section class="fill-light contain center" id="sponsors">
	<div class="limiter pad8y clearfix center">

	<h2 class="space-bottom2">Ti interesserebbe diventare un nostro sponsor?</h2>
        <p class="varela col8 margin2 quiet pad4x space-bottom4">Scarica <a href="Sponsorship2018v2b.pdf">la brochure delle sponsorizzazioni</a> e scrivici a <a href="mailto:sponsors@stateofthemap.org">sponsors@stateofthemap.org</a> per maggiori informazioni.</p>
	<div class="col4 pad4x space-bottom2">
		<a href="mailto:sponsors@stateofthemap.org"><img src="/img/sponsors.png" /></a>
	</div>
	<div class="col4 pad4x space-bottom2">
		<a href="mailto:sponsors@stateofthemap.org"><img src="/img/sponsors.png" /></a>
	</div>
	<div class="col4 pad4x space-bottom2">
		<a href="mailto:sponsors@stateofthemap.org"><img src="/img/sponsors.png" /></a>
	</div>

	</div>
</section>
