<!-- annouce Section -->
<section id="announce" class="fill-midnight  contain dark keyline-bottom">
      <div class="limiter pad8y clearfix center">
         <div class="center">
            <h2 class="dark">Participate at State of the Map</h2>
         </div>
      </div>
      <div class="col12 clearfix contain center space-bottom8">
         <div class="limiter">
            <div class="col6 pad0y space-bottom2">
               <h3 class="announce-title"><a href="https://blog.openstreetmap.org/2018/01/11/session-proposals-sotm-2018/">Call for Proposals</a></h3>
               <p class="varela">Please submit your session proposals for a chance to be included in the program.</p>
            </div>
            <div class="col6 pad0y space-bottom2">
               <h3 class="announce-title"><a href="http://mailchi.mp/817634092c56/state-of-the-map-2018-call-for-scholarship" class="sub_color">Apply for scholarships</a></h3>
               <p class="varela">Thanks to the generosity of our sponsors, we can provide scholarships and grants. Apply now!</p>
            </div>
	 </div>
      </div>
</section>
