<section id="announce" class="fill-midnight  contain dark keyline-bottom">
      <div class="limiter pad8y clearfix center">
         <div class="center">
            <h2 class="dark">Participate at State of the Map</h2>
         </div>
      </div>
      <div class="col12 clearfix contain center space-bottom8">
         <div class="limiter">
            <div class="col6 pad0y space-bottom2">
               <h3 class="announce-title"><a href="https://docs.google.com/forms/d/e/1FAIpQLScM9lUg8Z-qUpqcOcWzD1MpV708PPIl82hgdARECz1D_7sMbA/viewform">Call for Proposals</a></h3>
               <p class="varela">Please submit your session proposals for a chance to be included in the program.</p>
            </div>
            <div class="col6 pad0y space-bottom2">
               <h3 class="announce-title"><a href="https://blog.openstreetmap.org/2017/10/25/the-state-of-the-map-scholar-experience/" class="sub_color">The scholar experience</a></h3>
               <p class="varela">Read about how our 2017 scholars got on. Applications for 2018 scholarships open soon.</p>
            </div>
	 </div>
      </div>
</section>
