    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="limiter">
                <div class="left">
                    <div class="col12">
                        <div class="col4 margin4 margin4r">
                            <div class="aizu-logo">
                             <img src="/img/logo-dark.svg" height="985" width="1517"/>
                            </div>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="icon big down animated"></i>
                        </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
