    <!-- Map Section -->
 <section class="map-container">
 <div id="mapbox-map"></div>

 </section>



<script>
mapboxgl.accessToken = 'pk.eyJ1Ijoic3RhdGVvZnRoZW1hcCIsImEiOiJjaXowOTh4am4wMWduMzNtbmtoY2V2Zzd6In0.4haxNzxFpuAssnAYc9XVAg';
var map = new mapboxgl.Map({
    container: 'mapbox-map', // container id
    style: 'mapbox://styles/stateofthemap/ciz09a1cb000f2rplsvcyln0j',
    center: [9.22697, 45.47811], // starting position
    zoom: 16 // starting zoom
});
map.on('style.load', function() {
    console.log('loaded')
    $('.mapboxgl-ctrl-attrib.mapboxgl-ctrl').remove();
    $('.mapboxgl-ctrl-bottom-right').append('<div class="mapboxgl-ctrl-attrib mapboxgl-ctrl">\
    <a href="https://www.openstreetmap.org/about" target="_blank">Map data</a>\
    <a href="https://www.openstreetmap.org/copyright" target="_blank">© OpenStreetMap contributors</a>\
    <a href="https://www.openstreetmap.org/fixthemap" target="_blank"><i class="fa fa-wrench" aria-hidden="true"></i></a>\
    <a href="https://donate.openstreetmap.org" target="_blank"><i class="fa fa-heart" aria-hidden="true"></i></a>\
    <a href="https://join.osmfoundation.org" target="_blank"><i class="fa fa-map" aria-hidden="true"></i></a>\
    </div>');
});
var el = document.createElement('div');
el.className = 'marker';
el.style.marginTop = '-35px';
new mapboxgl.Marker(el)
  .setLngLat([9.22753, 45.4777])
  .addTo(map);

// Add zoom and rotation controls to the map.
map.addControl(new mapboxgl.NavigationControl());
map.scrollZoom.disable();
</script>
