<section class="fill-light contain center" id="sponsors">
	<div class="limiter pad8y clearfix center">

	<h2 class="space-bottom4">Interested in sponsoring? </h2>
	<p class="">Download <a href="Sponsorship2018v2b.pdf">the sponsorship package</a> and email us at <a href="mailto:sponsors@stateofthemap.org">sponsors@stateofthemap.org</a> for more information.</p>
	<div class="col4 pad4x space-bottom2">
		<a href="mailto:sponsors@stateofthemap.org"><img src="/img/sponsors.png" /></a>
	</div>
	<div class="col4 pad4x space-bottom2">
		<a href="mailto:sponsors@stateofthemap.org"><img src="/img/sponsors.png" /></a>
	</div>
	<div class="col4 pad4x space-bottom2">
		<a href="mailto:sponsors@stateofthemap.org"><img src="/img/sponsors.png" /></a>
	</div>

	</div>
</section>
