<section id="videos" class="fill-light center">
  <div class="limiter pad8y clearfix">
    <div class="col8 margin2 margin2r">
      <h1 class="center space-bottom4 dark">Session video</h1>

      <p class="dark varela">Video of all sessions in the main hall and room 1, across the three days:</p>

      <div class="fill-white button" style="border-radius:20px; padding-left:20px; padding-right:20px">
        <a href="https://www.youtube.com/channel/UC0jDNhn6t-PLVvqMPL-ZWbg"><h3>Session video youtube channel &#9658;</h3></a>
      </div>
    </div>
  </div>
</section>
