<section id="videos" class="fill-light center">
  <div class="limiter pad8y clearfix">
    <div class="col8 margin2 margin2r">
      <h1 class="center space-bottom4 dark">Live stream video</h1>

      <p class="dark varela">We are live streaming video from the De Donato and S.0.2 rooms across the three days of State of the Map</p>

      <div class="fill-white button" style="border-radius:20px; padding-left:20px; padding-right:20px">
        <a href="https://www.youtube.com/channel/UCLqJsr_5PfdvDFbgv1qp2aQ"><h3>Session video youtube channel &#9658;</h3></a>
      </div>
    </div>
  </div>
</section>
