<section id="videos" class="fill-light center">
  <div class="limiter pad8y clearfix">
    <div class="col8 margin2 margin2r">
      <p class="dark varela">Unedited video from the two main conference rooms:</p>

      <p class="dark varela">Day 1 (Fri): &nbsp;&nbsp; <a href="https://www.youtube.com/watch?v=e7VosnqXjBY">De Donato</a> &nbsp;&nbsp; <a href="https://www.youtube.com/watch?v=Cr9XTtwuvjg">S.0.2.</a></li></p>
      <p class="dark varela">Day 2 (Sat): &nbsp;&nbsp; <a href="https://www.youtube.com/watch?v=Jn5VWd7C6_g">De Donato</a> &nbsp;&nbsp; <a href="https://www.youtube.com/watch?v=V7t9xM1rOXA">S.0.2.</a></li></p>
      <p class="dark varela">Day 3 (Sun): &nbsp;&nbsp; <a href="https://www.youtube.com/watch?v=hUkE_fHEoZ8">De Donato</a> &nbsp;&nbsp; <a href="https://www.youtube.com/watch?v=q602O9VGy3A">S.0.2.</a></li></p>

      <p class="dark varela">We hope to bring you edited seperate session videos soon.</p>
      {% comment %}
      <div class="fill-white button" style="border-radius:20px; padding-left:20px; padding-right:20px">
        <a href="https://www.youtube.com/channel/UCLqJsr_5PfdvDFbgv1qp2aQ"><h3>Session video youtube channel &#9658;</h3></a>
      </div>
      {% endcomment %}
    </div>
  </div>
</section>
