---
layout: ja/programja
color: fill-midnight
themes:
  - key: all
    label: All
  - key: analysis
    label: Analysis
  - key: community-growth
    label: Community Growth
  - key: education
    label: Education
  - key: humanitarian
    label: Humanitarian
  - key: indoors
    label: Indoors
  - key: local-community
    label: Local Community
  - key: technical
    label: Technical
  - key: tools
    label: Tools
  - key: birds-of-feather
    label: Birds of feather
---

    <div class='pad4y col12 clearfix prose'>
      <div class='col12 space-bottom4 contain'>

        <div
          id='program-intro'
          class='col12 clearfix space-bottom4'>
          <div class='col8'>
            <h1 class="color-purple2 spartan">日程概要</h1>
            <p class="sans">State of the Map 2017 は<b>2017年8月18日から20日</b>にかけて福島県会津若松市で開催されます。<a href="/venue">会津若松市文化センター</a>でお会いしましょう。</p>
            <p>私たちは土曜日の午後6時から8時にソーシャルイベントを「<a href="http://tsurukan.com/">ツルカン</a>」こと<a href="http://www.openstreetmap.org/node/423793541">鶴ヶ城会館ホール</a>で開催します。今年のOSM Awardsはこのソーシャルイベントで発表されます。</p>
            <ul>
              <li><b><a href="#friday">8月18日 金曜日</a>:</b> State of the Map の初日です。20分セッションや<a href="/ja/lightning-talks">ライトニングトーク</a>が予定されています。詳細はタイムテーブルをご覧ください。</li>
              <li><b><a href="#saturday">8月19日 土曜日</a>:</b> State of the Map 二日目は20分セッションに加えて OSM アワードの発表が予定されています。予定されているセッションはタイムテーブルでご確認ください。</li>
              <li><b><a href="#sunday">8月20日 日曜日</a>:</b> State of the Map 最終日はマッピングやドキュメント作成などのワークショップが予定されています。一緒に活動することで新しい仲間や知識を発見しましょう。応募の多かった<a href="/ja/lightning-talks">ライトニングトーク</a>はこの日にも予定されています。</li>
            </ul>
            <h2>オプショナルフォト</h2>
            <p>鶴ヶ城まで来た記念にオプショナルフォトはいかがですか? 土曜日の開場前に鶴ヶ城を背景としたグループ写真を撮影します。この撮影をするエリアは通常立ち入り禁止ですが、特別に許可を得て入ることができるようになりました。</p>
            <h2>オプショナルツアー</h2>
            <p>日曜日の午後3時45分から<a href="http://www.general-museum.fks.ed.jp/">福島県立博物館</a>でのオプショナルツアーが行われます。福島の歴史と文化に触れてみましょう。</p>
            <h1 class="color-purple2 spartan">ブレイクアウトセッション</h1>
            <p class='sans'>State of the Map ではブレイクアウトセッション「Birds of a feather」のために使える部屋をいくつか用意しています。</p>
            <p class='sans'>Birds of a feather のために用意した部屋には、セッションについて議論の続きや親睦を深める話をするためのフリーなオープンスペースと、グループで作業をしたりOpenStreetMap関連ソフトウェアのコーディングをしたり、ドキュメントやガイドの作成などのために予約可能な部屋があります。</p>
            <p class='sans'>これらの部屋を使ってやってみたい事はありますか? あなたのアイデアをOpenStreetMapコミュニティに<a href="https://blog.openstreetmap.org/2017/07/17/who-is-in-your-space-at-state-of-the-map/">共有する方法</a>はこちらのブログ記事をご覧ください。</p>
            <p class='sans'>観光にも興味があれば計画中の福島県立博物館のツアーにもご期待ください。</p>
            <h1 class="color-purple2 spartan">タイムテーブル</h1>
            <div class="clearfix space-top2 space-bottom2">
      　　　       <a href="/sotmjapan.apk"><img src="/img/download-android.png"></a> ※アプリは英語のみでインストールには「提供元不明のアプリ」の許可が必要です。
            </div>
            <p class='sans'>素晴らしいセッションとワークショップが多数ラインナップされています。あなたの聞きたくなるセッションが必ずあるはずです。セッションとワークショップの詳細な情報をご覧ください。</p>
          </div>
        </div>
        <header class='js-fixed program-header fill-purple dark z1 col12 mobile-cols clearfix keyline-all contain'>
          <div class='col8 truncate pad1 js-date'>Friday</div>
          <!--
          <div class='col4 keyline-left'>
            <a href='#' class='js-dropdown-trigger quiet pad1 block truncate'>
              <span class='dot pad0 inline fill-all'></span>
              All categories
            </a>
            <div class='js-dropdown dropdown scroll-styled col4 hidden pin-topright z1 keyline-all'>
              {% for theme in page.themes %}
                <a href='#' data-category='{{theme.key}}' data-label='{{theme.label}}' class='quiet block pad1x pad0y keyline-bottom js-category'>
                  <span class='dot pad0 inline fill-{{theme.key}}'></span>
                  {{theme.label}}
                </a>
              {% endfor %}
            </div>
          </div>-->
        </header>

        <!-- Friday -->
        <div
          data-title='Friday 9:00am'
          class='program-block keyline-left keyline-right keyline-bottom fill-lighten0' id='friday'>
          <label>
            <span class='pad1 inline fill-darken01 keyline-right timestamp'>9:00am</span>
            <span class='pad1 inline'>Registration / Coffee / Tea</span>
          </label>
        </div>

        <div
          data-title='Friday 9:30am'
          class='program-block keyline-left keyline-right keyline-bottom fill-lighten0'>
          <label>
            <span class='pad1 inline fill-darken0 keyline-right timestamp'>9:30am</span>
            <span class='pad1 inline'>Welcome</span>
          </label>
        </div>

        <div
          data-title='Friday 10:00am'
          class='program-block keyline-left keyline-right keyline-bottom fill-lighten0'>
          <label>
            <span class='pad1 inline fill-darken0 keyline-right timestamp'>10:00am</span>
            <span class='pad1 inline'>Keynote by </span><span class='light'>Arun Ganesh</span>
            <span class='pad1 inline'>
               <a href="https://speakerdeck.com/sotm2017/day1-1000-keynote" target="_blank">スライドを新しいタブで開く</a>
            </span>
          </label>
        </div>
        <div
          data-title='Friday 10:30am'
          class='pad1 fill-darken0 program-block keyline-left keyline-right keyline-bottom'>
          <label>10:30am</label>
        </div>
        <div
          data-title='Friday 10:30am'
          class='col12 program-blocks keyline-bottom clearfix'>
        {% for post in site.tags.turn1 reversed %}
          {% include slot-item-small.html %}
        {% endfor %}
        </div>

        <div
          data-title='Friday 11:00am'
          class='pad1 fill-darken0 program-block keyline-left keyline-right keyline-bottom'>
          <label>11:00am</label>
        </div>
        <div
          data-title='Friday 11:00am'
          class='col12 program-blocks keyline-bottom clearfix'>
        {% for post in site.tags.turn2 reversed %}
          {% capture time %}10:30am{% endcapture %}
          {% include slot-item-small.html %}
        {% endfor %}
        </div>

        <div
          data-title='Friday 11:30am'
          class='program-block keyline-left keyline-right keyline-bottom fill-lighten0'>
          <label>
            <span class='pad1 inline fill-darken0 keyline-right timestamp'>11:30am</span>
            <span class='pad1 inline'>Coffee / Tea</span>
          </label>
        </div>

        <div
          data-title='Friday 12:00am'
          class='pad1 fill-darken0 program-block keyline-left keyline-right keyline-bottom'>
          <label>12:00am</label>
        </div>
        <div
          class='col12 program-blocks keyline-bottom clearfix'>
        {% for post in site.tags.turn3 reversed %}
          {% include slot-item-small.html %}
        {% endfor %}
        </div>

        <div
          data-title='Friday 12:30pm'
          class='pad1 fill-darken0 program-block keyline-left keyline-right keyline-bottom'>
          <label>12:30pm</label>
        </div>
        <div
          class='col12 program-blocks keyline-bottom clearfix'>
        {% for post in site.tags.turn4 reversed %}
          {% include slot-item-small.html %}
        {% endfor %}
        </div>

        <div
          data-title='Friday 1:00pm'
          class='program-block keyline-left keyline-right keyline-bottom  fill-lighten0'>
          <label>
            <span class='pad1 inline fill-darken0 keyline-right timestamp'>1:00pm</span>
            <span class='pad1 inline'>Lunch</span>
          </label>
        </div>

        <div
          data-title='Friday 1:50pm'
          class='program-block keyline-left keyline-right keyline-bottom  fill-lighten0'>
          <label>
            <span class='pad1 inline fill-darken0 keyline-right timestamp'>1:50pm</span>
            <span class='pad1 inline'>Group Photo</span>
          </label>
        </div>

        <div
          data-title='Friday 2:10pm'
          class='pad1 fill-darken0 program-block keyline-left keyline-right keyline-bottom'>
          <label>2:10pm</label>
        </div>
        <div
          class='col12 program-blocks keyline-bottom clearfix'>
        {% for post in site.tags.turn5 reversed %}
          {% include slot-item-small.html %}
        {% endfor %}
        </div>

        <div
          data-title='Friday 2:40pm'
          class='pad1 fill-darken0 program-block keyline-left keyline-right keyline-bottom'>
          <label>2:40pm</label>
        </div>
        <div
          class='col12 program-blocks keyline-bottom clearfix'>
        {% for post in site.tags.turn6 reversed %}
          {% include slot-item-small.html %}
        {% endfor %}
        </div>

        <div
          data-title='Friday 3:10pm'
          class='pad1 fill-darken0 program-block keyline-left keyline-right keyline-bottom'>
          <label>3:10pm</label>
        </div>
        <div
          class='col12 program-blocks keyline-bottom clearfix'>
        {% for post in site.tags.turn7 reversed %}
          {% include slot-item-small.html %}
        {% endfor %}
        </div>

        <div
          data-title='Friday 3:40pm'
          class='program-block keyline-left keyline-right keyline-bottom fill-lighten0'>
          <label>
            <span class='pad1 inline fill-darken0 keyline-right timestamp'>3:40pm</span>
            <span class='pad1 inline'>Coffee / Tea</span>
          </label>
        </div>

        <div
          data-title='Friday 4:10pm'
          class='pad1 fill-darken0 program-block keyline-left keyline-right keyline-bottom'>
          <label>4:10pm</label>
        </div>
        <div
          class='col12 program-blocks keyline-bottom clearfix'>
        {% for post in site.tags.turn8 reversed %}
          {% include slot-item-small.html %}
        {% endfor %}
        </div>

        <div
          data-title='Friday 4:40pm'
          class='pad1 fill-darken0 program-block keyline-left keyline-right keyline-bottom'>
          <label>4:40pm</label>
        </div>
        <div
          class='col12 program-blocks keyline-bottom clearfix'>
        {% for post in site.tags.turn9 reversed %}
          {% include slot-item-small.html %}
        {% endfor %}
        </div>

        <div
          data-title='Friday 5:10pm'
          class='pad1 fill-darken0 program-block keyline-left keyline-right keyline-bottom'>
          <label>5:10pm</label>
        </div>
        <div
          class='col12 program-blocks keyline-bottom clearfix'>
        {% for post in site.tags.turn10 reversed %}
          {% include slot-item-small.html %}
        {% endfor %}
        </div>

        <div
          data-title='Friday 5:40pm'
          class='program-block keyline-left keyline-right keyline-bottom fill-lighten0'>
          <label>
            <span class='pad1 inline fill-darken0 keyline-right timestamp'>5:40pm</span>
            <span class="pad1 inline">End</span>
          </label>
        </div>

        <!-- Saturday -->
        <h2 id='saturday'>Saturday</h2>
        <div
          data-title='Saturday 9:00am'
          class='program-block keyline-all fill-lighten0'>
          <label>
            <span class='pad1 inline fill-darken0 keyline-right timestamp'>9:00am</span>
            <span class='pad1 inline'>Registration / Coffee / Tea</span>
          </label>
        </div>

        <div
          data-title='Saturday 9:30am'
          class='pad1 fill-darken0 program-block keyline-left keyline-right keyline-bottom'>
          <label>9:30am</label>
        </div>
        <div
          class='col12 program-blocks keyline-bottom clearfix'>
        {% for post in site.tags.turn11 reversed %}
          {% include slot-item-small.html %}
        {% endfor %}
        </div>

        <div
          data-title='Saturday 10:00am'
          class='pad1 fill-darken0 program-block keyline-left keyline-right keyline-bottom'>
          <label>10:00am</label>
        </div>
        <div
          class='col12 program-blocks keyline-bottom clearfix'>
        {% for post in site.tags.turn12 reversed %}
          {% include slot-item-small.html %}
        {% endfor %}
        </div>

        <div
          data-title='Saturday 10:30am'
          class='pad1 fill-darken0 program-block keyline-left keyline-right keyline-bottom'>
          <label>10:30am</label>
        </div>
        <div
          class='col12 program-blocks keyline-bottom clearfix'>
        {% for post in site.tags.turn13 reversed %}
          {% include slot-item-small.html %}
        {% endfor %}
        </div>

        <div
          data-title='Saturday 11:00am'
          class='program-block keyline-left keyline-right keyline-bottom fill-lighten0'>
          <label>
            <span class='pad1 inline fill-darken0 keyline-right timestamp'>11:00am</span>
            <span class='pad1 inline'>Coffee / Tea</span>
          </label>
        </div>

        <div
          data-title='Saturday 11:30am'
          class='pad1 fill-darken0 program-block keyline-left keyline-right keyline-bottom'>
          <label>11:30am</label>
        </div>
        <div
          class='col12 program-blocks keyline-bottom clearfix'>
        {% for post in site.tags.turn14 reversed %}
          {% include slot-item-small.html %}
        {% endfor %}
        </div>

        <div
          data-title='Saturday 12:00pm'
          class='pad1 fill-darken0 program-block keyline-left keyline-right keyline-bottom'>
          <label>12:00pm</label>
        </div>
        <div
          class='col12 program-blocks keyline-bottom clearfix'>
        {% for post in site.tags.turn15 reversed %}
          {% include slot-item-small.html %}
        {% endfor %}
        </div>

        <div
          data-title='Saturday 12:30pm'
          class='pad1 fill-darken0 program-block keyline-left keyline-right keyline-bottom'>
          <label>12:30pm</label>
        </div>
        <div
          class='col12 program-blocks keyline-bottom clearfix'>
        {% for post in site.tags.turn16 reversed %}
          {% include slot-item-small.html %}
        {% endfor %}
        </div>

        <div
          data-title='Saturday 1:00pm'
          class='program-block keyline-left keyline-right keyline-bottom fill-lighten0'>
          <label>
            <span class='pad1 inline fill-darken0 keyline-right timestamp'>1:00pm</span>
            <span class='pad1 inline'>Lunch</span>
          </label>
        </div>

        <div
          data-title='Saturday 2:00pm'
          class='pad1 fill-darken0 program-block keyline-left keyline-right keyline-bottom'>
          <label>2:00pm</label>
        </div>
        <div
          class='col12 program-blocks keyline-bottom clearfix'>
        {% for post in site.tags.turn17 reversed %}
          {% include slot-item-small.html %}
        {% endfor %}
        </div>

        <div
          data-title='Saturday 2:30pm'
          class='pad1 fill-darken0 program-block keyline-left keyline-right keyline-bottom'>
          <label>2:30pm</label>
        </div>
        <div
          class='col12 program-blocks keyline-bottom clearfix'>
        {% for post in site.tags.turn18 reversed %}
          {% include slot-item-small.html %}
        {% endfor %}
        </div>

        <div
          data-title='Saturday 3:00pm'
          class='pad1 fill-darken0 program-block keyline-left keyline-right keyline-bottom'>
          <label>3:00pm</label>
        </div>
        <div
          class='col12 program-blocks keyline-bottom clearfix'>
        {% for post in site.tags.turn19 reversed %}
          {% include slot-item-small.html %}
        {% endfor %}
        </div>

        <div
          data-title='Saturday 3:30pm'
          class='program-block keyline-left keyline-right keyline-bottom fill-lighten0'>
          <label>
            <span class='pad1 inline fill-darken0 keyline-right timestamp'>3:30pm</span>
            <span class='pad1 inline'>Coffee / Tea</span>
          </label>
        </div>

        <div
          data-title='Saturday 4:00pm'
          class='pad1 fill-darken0 program-block keyline-left keyline-right keyline-bottom'>
          <label>4:00pm</label>
        </div>
        <div
          class='col12 program-blocks keyline-bottom clearfix'>
        {% for post in site.tags.turn20 reversed %}
          {% include slot-item-small.html %}
        {% endfor %}
        </div>

        <div
          data-title='Saturday 4:30pm'
          class='pad1 fill-darken0 program-block keyline-left keyline-right keyline-bottom'>
          <label>4:30pm</label>
        </div>
        <div
          class='col12 program-blocks keyline-bottom clearfix'>
        {% for post in site.tags.turn21 reversed %}
          {% include slot-item-small.html %}
        {% endfor %}
        </div>

        <div
          data-title='Saturday 5:00pm'
          class='program-block keyline-left keyline-right keyline-bottom fill-lighten0'>
          <label>
            <span class='pad1 inline fill-darken0 keyline-right timestamp'>5:00pm</span>
            <span class='pad1 inline'>Closing plenary</span>
          </label>
        </div>

        <div
          data-title='Saturday 5:20pm'
          class='program-block keyline-left keyline-right keyline-bottom fill-lighten0'>
          <label>
            <span class='pad1 inline fill-darken0 keyline-right timestamp'>5:20pm</span>
            <span class="pad1 inline">End</span>
          </label>
        </div>


      <!-- SUNDAY -->
      <h2 id='sunday'>Sunday</h2>

      <div data-title="Sunday 9:00am" class="program-block keyline-all fill-lighten0">
        <label>
          <span class="pad1 inline fill-darken0 keyline-right timestamp">9:00am</span>
          <span class="pad1 inline">Coffee / Tea</span>
        </label>
      </div>

      <div data-title="Sunday 9:30am" class="pad1 fill-darken0 program-block keyline-left keyline-right keyline-bottom">
        <label>9:30am</label>
      </div>
      <div class="col12 program-blocks clearfix">
        {% for post in site.tags.turn22 reversed %}
          {% include slot-item-middle.html %}
        {% endfor %}
      </div>

      <div data-title="Sunday 10:45am" class="program-block keyline-all fill-lighten0">
        <label>
          <span class="pad1 inline fill-darken0 keyline-right timestamp">10:45am</span>
          <span class="pad1 inline">Break</span>
        </label>
      </div>

      <div data-title="Sunday 11:15am" class="pad1 fill-darken0 program-block keyline-left keyline-right keyline-bottom">
        <label>11:15am</label>
      </div>
      <div class="col12 program-blocks clearfix">
        {% for post in site.tags.turn23 reversed %}
          {% include slot-item-middle.html %}
        {% endfor %}
      </div>


      <div data-title="Sunday 12:30pm" class="program-block keyline-left keyline-right keyline-bottom fill-lighten0">
        <label>
          <span class="pad1 inline fill-darken0 keyline-right timestamp">12:30pm</span>
          <span class="pad1 inline">Lunch</span>
        </label>
      </div>

      <div data-title="Sunday 1:30pm" class="pad1 fill-darken0 program-block keyline-left keyline-right keyline-bottom">
        <label>1:30pm</label>
      </div>
      <div class="col12 program-blocks clearfix">
        {% for post in site.tags.turn24 reversed %}
          {% include slot-item-middle.html %}
        {% endfor %}
      </div>

      <div data-title="Sunday 2:45pm" class="program-block keyline-left keyline-right keyline-bottom fill-lighten0">
        <label>
          <span class="pad1 inline fill-darken0 keyline-right timestamp">2:45pm</span>
          <span class="pad1 inline">Break</span>
        </label>
      </div>

      <div data-title="Sunday 3:15pm" class="pad1 fill-darken0 program-block keyline-left keyline-right keyline-bottom">
        <label>3:15pm</label>
      </div>
      <div class="col12 program-blocks clearfix">
        {% for post in site.tags.turn25 reversed %}
          {% include slot-item-middle.html %}
        {% endfor %}
      </div>

      <div data-title="Sunday 4:30pm" class="program-block keyline-left keyline-right keyline-bottom fill-lighten0">
        <label>
          <span class="pad1 inline fill-darken0 keyline-right timestamp">4:30pm</span>
          <span class="pad1 inline">End</span>
        </label>
      </div>


      </div>
      </div>

<script src='/js/jquery.js'></script>
<script src='/program/affix.js'></script>
<script src='/program/program.js'></script>
