---
layout: ja/programja
color: fill-midnight
---

<div class='pad4y col12 clearfix'>
   <div class='col10 margin2r space-bottom4 contain'>
      <div class="space-bottom4">
         <h1 class="small-title text-blue-light">ライトニングトーク</h1>
         <p>ライトニングトークは<a href="#friday">金曜日</a>と<a href="#sunday">日曜日</a>に予定されています。どの LT も素晴らしい内容です。ぜひすべてを聞いてみてください。時間が許せば1、2本の5分間 LT を追加できるかもしれません。</p>
      </div>

      <h2 class='space-bottom0' id="friday"><br>金曜日のライトニングトーク</h2>

{% include ja/friday-lt.html %}

      <h2 class='space-bottom0' id="sunday"><br>日曜日のライトニングトーク</h2>

{% include ja/sunday-lt.html %}

      <h2 class='space-bottom0' id="added"><br>飛び入りLT</h2>

      <div class="fill-lighten0 pad2x pad2y round clearfix  space-bottom1 clearfix">
         <div class="col11 margin1r">
               <h2 class="space-bottom0">Rivers</h2>
               <span class="small space-bottom2">by Ilya Zverev</span>
               <div class="prose space-bottom2 space-top1">
                  <a href="https://speakerdeck.com/sotm2017/day3-0930-lt-rivers" class="pad2x pad0y" target="_blank">スライドを新しいタブで開く</a>
               </div>
         </div>
      </div>

      <a href='{{site.baseurl}}/ja/program' class='button pad2x stroke icon prev space-top4 round-big'>Back to program</a>

   </div>
</div>