---
layout: program
color: fill-midnight
themes:
  - key: all
    label: All
  - key: analysis
    label: Analysis
  - key: community-growth
    label: Community Growth
  - key: education
    label: Education
  - key: humanitarian
    label: Humanitarian
  - key: indoors
    label: Indoors
  - key: local-community
    label: Local Community
  - key: technical
    label: Technical
  - key: tools
    label: Tools
  - key: birds-of-feather
    label: Birds of feather
---

    <div class='pad4y col12 clearfix prose'>
      <div class='col12 space-bottom4 contain'>

        <div
          id='program-intro'
          class='col12 clearfix space-bottom4'>
          <div class='col8'>
            <h1 class="color-purple2 spartan">Overview</h1>
            <p class="sans">State of the Map 2017 is taking place from <b>August 18th to 20th 2017</b> in Aizuwakamatsu, Japan. Meet us at <a href="/venue">Aizuwakamatsu City Cluture Center</a>.</p>
            <p>We are scheduling social event at Saturday 6:00 pm - 8:00 pm. The event take place in <a href="http://www.openstreetmap.org/node/423793541">Tsurugajo castle hall</a> aka "<a href="http://tsurukan.com/">Tsurukan</a>". This year OSM Awards ceremony is in this event.</p>
            <ul>
              <li><b><a href="#friday">Friday, August 18th</a>:</b> Join us for day one of State of the Map. 20-Min sessions and <a href="/lightning-talks/">lightning talks</a> is scheduled. Details of the talks are below.</li>
              <li><b><a href="#saturday">Saturday, August 19th</a>:</b> We move to day two of State of the Map. An OSM award is scheduled in addition to the 20-Min sessions. Our scheduled program of talks is below.</li>
              <li><b><a href="#sunday">Sunday, August 20th</a>:</b> The third and final day of State of the Map will focus on workshops and sharing knowledge. Together we'll discover the next great thing in mapping and hacking but please be kind to our network (bandwidth currently unconfirmed). Some of the <a href="/lightning-talks/">lightning talks</a> is scheduled on this day as well.</li>
            </ul>
            <h2>Optional Photo</h2>
            <p>How about optional pictures to record that you came to Aizuwakamatsu? We will shoot group photos with Tsuruga castle as background at the Saturday morning. This shooting area is an off limit area, we have special permission.</p>
            <h2>Optional tour</h2>
            <p>We will be having an optional tour of the <a href="http://www.general-museum.fks.ed.jp/">Fukushima Prefectural Museum</a> at Sunday 3:45 pm. Let's touch the history and culture of Fukushima.</p>
            <h1 class="color-purple2 spartan">Breakout sessions</h1>
            <p class='sans'>Throughout the three days of State of the Map we will have a number of rooms set aside for breakout sessions (formally know as "Birds of a feather" sessions).</p>
            <p class='sans'>Some of these will be bookable spaces that you can sign up to host whilst there, others are free spaces - an ideal place where small groups would want to work together, coding a new feature of OpenStreetMap software or collaborating on documentation and guides.</p>
            <p class='sans'>Already have some ideas of what to use these spaces for? Find out how to <a href="https://blog.openstreetmap.org/2017/07/17/who-is-in-your-space-at-state-of-the-map/">share your ideas</a> with the OpenStreetMap community.</p>
            <p class='sans'>Fancy a bit of sight-seeing? We are hoping to confirm a Tour of Fukushima museum.</p>
            <h1 class="color-purple2 spartan">Our program</h1>
            <div class="clearfix space-top2 space-bottom2">
			　　　       <a href="http://2017.stateofthemap.org/sotmjapan.apk"><img src="http://2017.stateofthemap.org/img/download-android.png"></a>
            </div>
            <p class='sans'>We've got an amazing program of talks and workshops lined up for you. The difficult bit is deciding which track to go to. All the info on the talks is provided below.</p>
          </div>
        </div>
        <header class='js-fixed program-header fill-purple dark z1 col12 mobile-cols clearfix keyline-all contain'>
          <div class='col8 truncate pad1 js-date'>Friday</div>
          <!--
          <div class='col4 keyline-left'>
            <a href='#' class='js-dropdown-trigger quiet pad1 block truncate'>
              <span class='dot pad0 inline fill-all'></span>
              All categories
            </a>
            <div class='js-dropdown dropdown scroll-styled col4 hidden pin-topright z1 keyline-all'>
              {% for theme in page.themes %}
                <a href='#' data-category='{{theme.key}}' data-label='{{theme.label}}' class='quiet block pad1x pad0y keyline-bottom js-category'>
                  <span class='dot pad0 inline fill-{{theme.key}}'></span>
                  {{theme.label}}
                </a>
              {% endfor %}
            </div>
          </div>-->
        </header>

        <!-- Friday -->
        <div
          data-title='Friday 9:00am'
          class='program-block keyline-left keyline-right keyline-bottom fill-lighten0' id='friday'>
          <label>
            <span class='pad1 inline fill-darken01 keyline-right timestamp'>9:00am</span>
            <span class='pad1 inline'>Registration / Coffee / Tea</span>
          </label>
        </div>

        <div
          data-title='Friday 9:30am'
          class='program-block keyline-left keyline-right keyline-bottom fill-lighten0'>
          <label>
            <span class='pad1 inline fill-darken0 keyline-right timestamp'>9:30am</span>
            <span class='pad1 inline'>Welcome</span>
          </label>
        </div>

        <div
          data-title='Friday 10:00am'
          class='program-block keyline-left keyline-right keyline-bottom fill-lighten0'>
          <label>
            <span class='pad1 inline fill-darken0 keyline-right timestamp'>10:00am</span>
            <span class='pad1 inline'>Keynote by </span><span class='light'>Arun Ganesh</span>
            <span class='pad1 inline'>
               <a href="https://speakerdeck.com/sotm2017/day1-1000-keynote" target="_blank">Open presentation slides in a new tab</a>
            </span>
          </label>
        </div>
        <div
          data-title='Friday 10:30am'
          class='pad1 fill-darken0 program-block keyline-left keyline-right keyline-bottom'>
          <label>10:30am</label>
        </div>
        <div
          data-title='Friday 10:30am'
          class='col12 program-blocks keyline-bottom clearfix'>
        {% for post in site.tags.slot1 reversed %}
          {% include slot-item-small.html %}
        {% endfor %}
        </div>

        <div
          data-title='Friday 11:00am'
          class='pad1 fill-darken0 program-block keyline-left keyline-right keyline-bottom'>
          <label>11:00am</label>
        </div>
        <div
          data-title='Friday 11:00am'
          class='col12 program-blocks keyline-bottom clearfix'>
        {% for post in site.tags.slot2 reversed %}
          {% capture time %}10:30am{% endcapture %}
          {% include slot-item-small.html %}
        {% endfor %}
        </div>

        <div
          data-title='Friday 11:30am'
          class='program-block keyline-left keyline-right keyline-bottom fill-lighten0'>
          <label>
            <span class='pad1 inline fill-darken0 keyline-right timestamp'>11:30am</span>
            <span class='pad1 inline'>Coffee / Tea</span>
          </label>
        </div>

        <div
          data-title='Friday 12:00am'
          class='pad1 fill-darken0 program-block keyline-left keyline-right keyline-bottom'>
          <label>12:00am</label>
        </div>
        <div
          class='col12 program-blocks keyline-bottom clearfix'>
        {% for post in site.tags.slot3 reversed %}
          {% include slot-item-small.html %}
        {% endfor %}
        </div>

        <div
          data-title='Friday 12:30pm'
          class='pad1 fill-darken0 program-block keyline-left keyline-right keyline-bottom'>
          <label>12:30pm</label>
        </div>
        <div
          class='col12 program-blocks keyline-bottom clearfix'>
        {% for post in site.tags.slot4 reversed %}
          {% include slot-item-small.html %}
        {% endfor %}
        </div>

        <div
          data-title='Friday 1:00pm'
          class='program-block keyline-left keyline-right keyline-bottom  fill-lighten0'>
          <label>
            <span class='pad1 inline fill-darken0 keyline-right timestamp'>1:00pm</span>
            <span class='pad1 inline'>Lunch</span>
          </label>
        </div>

        <div
          data-title='Friday 1:50pm'
          class='program-block keyline-left keyline-right keyline-bottom  fill-lighten0'>
          <label>
            <span class='pad1 inline fill-darken0 keyline-right timestamp'>1:50pm</span>
            <span class='pad1 inline'>Group Photo</span>
          </label>
        </div>

        <div
          data-title='Friday 2:10pm'
          class='pad1 fill-darken0 program-block keyline-left keyline-right keyline-bottom'>
          <label>2:10pm</label>
        </div>
        <div
          class='col12 program-blocks keyline-bottom clearfix'>
        {% for post in site.tags.slot5 reversed %}
          {% include slot-item-small.html %}
        {% endfor %}
        </div>

        <div
          data-title='Friday 2:40pm'
          class='pad1 fill-darken0 program-block keyline-left keyline-right keyline-bottom'>
          <label>2:40pm</label>
        </div>
        <div
          class='col12 program-blocks keyline-bottom clearfix'>
        {% for post in site.tags.slot6 reversed %}
          {% include slot-item-small.html %}
        {% endfor %}
        </div>

        <div
          data-title='Friday 3:10pm'
          class='pad1 fill-darken0 program-block keyline-left keyline-right keyline-bottom'>
          <label>3:10pm</label>
        </div>
        <div
          class='col12 program-blocks keyline-bottom clearfix'>
        {% for post in site.tags.slot7 reversed %}
          {% include slot-item-small.html %}
        {% endfor %}
        </div>

        <div
          data-title='Friday 3:40pm'
          class='program-block keyline-left keyline-right keyline-bottom fill-lighten0'>
          <label>
            <span class='pad1 inline fill-darken0 keyline-right timestamp'>3:40pm</span>
            <span class='pad1 inline'>Coffee / Tea</span>
          </label>
        </div>

        <div
          data-title='Friday 4:10pm'
          class='pad1 fill-darken0 program-block keyline-left keyline-right keyline-bottom'>
          <label>4:10pm</label>
        </div>
        <div
          class='col12 program-blocks keyline-bottom clearfix'>
        {% for post in site.tags.slot8 reversed %}
          {% include slot-item-small.html %}
        {% endfor %}
        </div>

        <div
          data-title='Friday 4:40pm'
          class='pad1 fill-darken0 program-block keyline-left keyline-right keyline-bottom'>
          <label>4:40pm</label>
        </div>
        <div
          class='col12 program-blocks keyline-bottom clearfix'>
        {% for post in site.tags.slot9 reversed %}
          {% include slot-item-small.html %}
        {% endfor %}
        </div>

        <div
          data-title='Friday 5:10pm'
          class='pad1 fill-darken0 program-block keyline-left keyline-right keyline-bottom'>
          <label>5:10pm</label>
        </div>
        <div
          class='col12 program-blocks keyline-bottom clearfix'>
        {% for post in site.tags.slot10 reversed %}
          {% include slot-item-small.html %}
        {% endfor %}
        </div>

        <div
          data-title='Friday 5:40pm'
          class='program-block keyline-left keyline-right keyline-bottom fill-lighten0'>
          <label>
            <span class='pad1 inline fill-darken0 keyline-right timestamp'>5:40pm</span>
            <span class="pad1 inline">End</span>
          </label>
        </div>

        <!-- Saturday -->
        <h2 id='saturday'>Saturday</h2>
        <div
          data-title='Saturday 9:00am'
          class='program-block keyline-all fill-lighten0'>
          <label>
            <span class='pad1 inline fill-darken0 keyline-right timestamp'>9:00am</span>
            <span class='pad1 inline'>Registration / Coffee / Tea</span>
          </label>
        </div>

        <div
          data-title='Saturday 9:30am'
          class='pad1 fill-darken0 program-block keyline-left keyline-right keyline-bottom'>
          <label>9:30am</label>
        </div>
        <div
          class='col12 program-blocks keyline-bottom clearfix'>
        {% for post in site.tags.slot11 reversed %}
          {% include slot-item-small.html %}
        {% endfor %}
        </div>

        <div
          data-title='Saturday 10:00am'
          class='pad1 fill-darken0 program-block keyline-left keyline-right keyline-bottom'>
          <label>10:00am</label>
        </div>
        <div
          class='col12 program-blocks keyline-bottom clearfix'>
        {% for post in site.tags.slot12 reversed %}
          {% include slot-item-small.html %}
        {% endfor %}
        </div>

        <div
          data-title='Saturday 10:30am'
          class='pad1 fill-darken0 program-block keyline-left keyline-right keyline-bottom'>
          <label>10:30am</label>
        </div>
        <div
          class='col12 program-blocks keyline-bottom clearfix'>
        {% for post in site.tags.slot13 reversed %}
          {% include slot-item-small.html %}
        {% endfor %}
        </div>

        <div
          data-title='Saturday 11:00am'
          class='program-block keyline-left keyline-right keyline-bottom fill-lighten0'>
          <label>
            <span class='pad1 inline fill-darken0 keyline-right timestamp'>11:00am</span>
            <span class='pad1 inline'>Coffee / Tea</span>
          </label>
        </div>

        <div
          data-title='Saturday 11:30am'
          class='pad1 fill-darken0 program-block keyline-left keyline-right keyline-bottom'>
          <label>11:30am</label>
        </div>
        <div
          class='col12 program-blocks keyline-bottom clearfix'>
        {% for post in site.tags.slot14 reversed %}
          {% include slot-item-small.html %}
        {% endfor %}
        </div>

        <div
          data-title='Saturday 12:00pm'
          class='pad1 fill-darken0 program-block keyline-left keyline-right keyline-bottom'>
          <label>12:00pm</label>
        </div>
        <div
          class='col12 program-blocks keyline-bottom clearfix'>
        {% for post in site.tags.slot15 reversed %}
          {% include slot-item-small.html %}
        {% endfor %}
        </div>

        <div
          data-title='Saturday 12:30pm'
          class='pad1 fill-darken0 program-block keyline-left keyline-right keyline-bottom'>
          <label>12:30pm</label>
        </div>
        <div
          class='col12 program-blocks keyline-bottom clearfix'>
        {% for post in site.tags.slot16 reversed %}
          {% include slot-item-small.html %}
        {% endfor %}
        </div>

        <div
          data-title='Saturday 1:00pm'
          class='program-block keyline-left keyline-right keyline-bottom fill-lighten0'>
          <label>
            <span class='pad1 inline fill-darken0 keyline-right timestamp'>1:00pm</span>
            <span class='pad1 inline'>Lunch</span>
          </label>
        </div>

        <div
          data-title='Saturday 2:00pm'
          class='pad1 fill-darken0 program-block keyline-left keyline-right keyline-bottom'>
          <label>2:00pm</label>
        </div>
        <div
          class='col12 program-blocks keyline-bottom clearfix'>
        {% for post in site.tags.slot17 reversed %}
          {% include slot-item-small.html %}
        {% endfor %}
        </div>

        <div
          data-title='Saturday 2:30pm'
          class='pad1 fill-darken0 program-block keyline-left keyline-right keyline-bottom'>
          <label>2:30pm</label>
        </div>
        <div
          class='col12 program-blocks keyline-bottom clearfix'>
        {% for post in site.tags.slot18 reversed %}
          {% include slot-item-small.html %}
        {% endfor %}
        </div>

        <div
          data-title='Saturday 3:00pm'
          class='pad1 fill-darken0 program-block keyline-left keyline-right keyline-bottom'>
          <label>3:00pm</label>
        </div>
        <div
          class='col12 program-blocks keyline-bottom clearfix'>
        {% for post in site.tags.slot19 reversed %}
          {% include slot-item-small.html %}
        {% endfor %}
        </div>

        <div
          data-title='Saturday 3:30pm'
          class='program-block keyline-left keyline-right keyline-bottom fill-lighten0'>
          <label>
            <span class='pad1 inline fill-darken0 keyline-right timestamp'>3:30pm</span>
            <span class='pad1 inline'>Coffee / Tea</span>
          </label>
        </div>

        <div
          data-title='Saturday 4:00pm'
          class='pad1 fill-darken0 program-block keyline-left keyline-right keyline-bottom'>
          <label>4:00pm</label>
        </div>
        <div
          class='col12 program-blocks keyline-bottom clearfix'>
        {% for post in site.tags.slot20 reversed %}
          {% include slot-item-small.html %}
        {% endfor %}
        </div>

        <div
          data-title='Saturday 4:30pm'
          class='pad1 fill-darken0 program-block keyline-left keyline-right keyline-bottom'>
          <label>4:30pm</label>
        </div>
        <div
          class='col12 program-blocks keyline-bottom clearfix'>
        {% for post in site.tags.slot21 reversed %}
          {% include slot-item-small.html %}
        {% endfor %}
        </div>

        <div
          data-title='Saturday 5:00pm'
          class='program-block keyline-left keyline-right keyline-bottom fill-lighten0'>
          <label>
            <span class='pad1 inline fill-darken0 keyline-right timestamp'>5:00pm</span>
            <span class='pad1 inline'>Closing plenary</span>
          </label>
        </div>

        <div
          data-title='Saturday 5:30pm'
          class='program-block keyline-left keyline-right keyline-bottom fill-lighten0'>
          <label>
            <span class='pad1 inline fill-darken0 keyline-right timestamp'>5:20pm</span>
            <span class="pad1 inline">End</span>
          </label>
        </div>


      <!-- SUNDAY -->
      <h2 id='sunday'>Sunday</h2>

      <div data-title="Sunday 9:00am" class="program-block keyline-all fill-lighten0">
        <label>
          <span class="pad1 inline fill-darken0 keyline-right timestamp">9:00am</span>
          <span class="pad1 inline">Coffee / Tea</span>
        </label>
      </div>

      <div data-title="Sunday 9:30am" class="pad1 fill-darken0 program-block keyline-left keyline-right keyline-bottom">
        <label>9:30am</label>
      </div>
      <div class="col12 program-blocks clearfix">
        {% for post in site.tags.slot22 reversed %}
          {% include slot-item-middle.html %}
        {% endfor %}
      </div>

      <div data-title="Sunday 10:45am" class="program-block keyline-all fill-lighten0">
        <label>
          <span class="pad1 inline fill-darken0 keyline-right timestamp">10:45am</span>
          <span class="pad1 inline">Break</span>
        </label>
      </div>

      <div data-title="Sunday 11:15am" class="pad1 fill-darken0 program-block keyline-left keyline-right keyline-bottom">
        <label>11:15am</label>
      </div>
      <div class="col12 program-blocks clearfix">
        {% for post in site.tags.slot23 reversed %}
          {% include slot-item-middle.html %}
        {% endfor %}
      </div>


      <div data-title="Sunday 12:30pm" class="program-block keyline-left keyline-right keyline-bottom fill-lighten0">
        <label>
          <span class="pad1 inline fill-darken0 keyline-right timestamp">12:30pm</span>
          <span class="pad1 inline">Lunch</span>
        </label>
      </div>

      <div data-title="Sunday 1:30pm" class="pad1 fill-darken0 program-block keyline-left keyline-right keyline-bottom">
        <label>1:30pm</label>
      </div>
      <div class="col12 program-blocks clearfix">
        {% for post in site.tags.slot24 reversed %}
          {% include slot-item-middle.html %}
        {% endfor %}
      </div>

      <div data-title="Sunday 2:45pm" class="program-block keyline-left keyline-right keyline-bottom fill-lighten0">
        <label>
          <span class="pad1 inline fill-darken0 keyline-right timestamp">2:45pm</span>
          <span class="pad1 inline">Break</span>
        </label>
      </div>

      <div data-title="Sunday 3:15pm" class="pad1 fill-darken0 program-block keyline-left keyline-right keyline-bottom">
        <label>3:15pm</label>
      </div>
      <div class="col12 program-blocks clearfix">
        {% for post in site.tags.slot25 reversed %}
          {% include slot-item-middle.html %}
        {% endfor %}
      </div>

      <div data-title="Sunday 4:30pm" class="program-block keyline-left keyline-right keyline-bottom fill-lighten0">
        <label>
          <span class="pad1 inline fill-darken0 keyline-right timestamp">4:30pm</span>
          <span class="pad1 inline">End</span>
        </label>
      </div>


      </div>

      </div>

<script src='/js/jquery.js'></script>
<script src='/program/affix.js'></script>
<script src='/program/program.js'></script>
