    <!-- About Section -->
    <section id="about" class="fill-midnight pad8y contain dark keyline-top keyline-bottom">
        <div class="limiter clearfix">
        <div class=" col10 margin1 margin1r">
           <div class="col12 clearfix space-bottom2 keyline-bottom-thick contain pad4y">
            <div class="col11 margin1r space-bottom2">
                <h1 class="space-bottom2">ご参加ありがとうございます <span class="icon heart big icon-pink"></span></h1>
                <a href="https://www.facebook.com/photo.php?fbid=10213784000100518"><img src="/img/group-photo.jpg" width="560" height="320" title="Group photo" class="center clearfix" ></a>
                <h2>State of the Map は毎年開催される<span>すべてのマッパー、OpenStreetMap ユーザーのイベントです</span>。世界中を対象にしたオープンな地図についての講演、ディスカッション、ワークショップ、開発、ドキュメント作成を楽しんだ3日間となりました。</h2>
            </div>

           </div>
           <div class="col12 clearfix contain pad4y">
            <div class="col5  pad0y space-bottom2">
                <h3 class="small-title uppercase">開催日</h3>
                <p class="varela">2017年8月18日から20日</p>
            </div>
            <div class="col7  pad0y space-bottom2">
                <h3 class="small-title uppercase">開催地</h3>
                <p class="varela">会津若松市文化センター &dash; 福島県会津若松市城東町14-52</p>
            </div>
            </div>
        </div>
        </div>
    </section>
