<!-- annouce Section -->
<section id="annouce" class="contain center">
   <div class="limiter pad8y clearfix center">
      <div class="col6 pad0y space-bottom2">
         <h3 class="announce-title">OSM Award 投票開始!</h3>
         <p class="varela"><a href="http://awards.osmz.ru/">OSM Award</a>への投票が始まりました! カテゴリーごとに複数の候補へ投票することができます。</p>
      </div>
      <div class="col6 pad0y space-bottom2">
         <h3 class="announce-title">チケットが販売中です!</h3>
            <p class="varela">チケットを<a href="https://blog.openstreetmap.org/2017/05/13/state-of-the-map-2017%E5%8F%82%E5%8A%A0%E7%99%BB%E9%8C%B2%E9%96%8B%E5%A7%8B/?lang=ja">購入</a>して素晴らしい講演とワークショップに<br>参加しましょう! 海外の仲間はビザが必要かもしれません<a href="https://blog.openstreetmap.org/2017/07/06/visa-information-to-support-your-trip-to-state-of-the-map-in-japan/">確認</a>してもらいましょう。</p>
      </div>
   </div>
   <div class="col12 clearfix contain center space-bottom8">
      <div class="limiter">
         <div class="col6 pad0y space-bottom2">
            <h3 class="announce-title"><a href="https://blog.openstreetmap.org/2017/02/16/propose-your-session-to-state-of-the-map-2017/" class="sub_color">カンファレンスプログラム</a></h3>
            <p class="varela">プログラムを作るための<a href="https://blog.openstreetmap.org/2017/02/16/propose-your-session-to-state-of-the-map-2017/">発表への応募</a>と<br><a href="https://blog.openstreetmap.org/2017/04/11/community-survey-for-the-state-of-the-map-2017-program/">コミュニティ調査</a>への参加に感謝します!</p>
         </div>
         <div class="col6 pad0y space-bottom2">
            <h3 class="announce-title"><a href="https://blog.openstreetmap.org/2017/02/16/propose-your-session-to-state-of-the-map-2017/" class="sub_color">奨学プログラム</a></h3>
            <p class="varela">スポンサーによる支援によって一緒に参加できる仲間が増えました。<a href="https://blog.openstreetmap.org/2017/02/22/apply-for-a-scholarship-to-state-of-the-map-2017/">奨学金を申請してくれた方々</a>にも感謝します!</p>
         </div>
	   </div>
   </div>
</section>
