<section class="fill-light contain" id="sponsors">
   <div class="limiter pad4y clearfix">
      <div class="col12 sponsors-keyline-bottom space-bottom4 contain center pad4y quiet">
			<h2 class="space-bottom1">ご協力いただいているスポンサー</h2>
      </div>

      <h3 class="small-title pink-text uppercase gold_sponsors">Gold</h3>
		<div class="clearfix space-top2 space-bottom2">
			<a href="https://www.mapbox.com" class="col3 pad2 space-bottom2 sponsor"><img src="/logos/mapbox.png"></a>
			<a href="https://www.bing.com" class="col3 pad2 space-bottom2 sponsor"><img src="/logos/bing.png"></a>
		</div>

      <h3 class="smaller-title uppercase silver_sponsors">Silver</h3>
      <div class="clearfix space-top2 space-bottom4">
			   <a href="https://facebook.com/" class="col2 pad2 space-bottom2 sponsor"><img src="/logos/facebook.png"></a>
			　　<a href="https://weare.stroly.com" class="col2 pad2 space-bottom2 sponsor"><img src="/logos/stroly.png"></a>
          <a href="http://telenav.com/" class="col2 pad2 space-bottom2 sponsor"><img src="/logos/telenav.png"></a>
      </div>

      <h3 class="smaller-title uppercase bronze_sponsors">Bronze</h3>
		<div class="clearfix space-top2 space-bottom2">
			<div class="clearfix">
				<a href="http://maps.me/en/home" class="col2 pad1 margin0r space-bottom2 sponsor"><img src="/logos/mapme.png"></a>
				<a href="http://www.mapillary.com/" class="col2  pad1 margin0r  space-bottom2 sponsor"><img src="/logos/mapillary.png"></a>
				<a href="http://www.geofabrik.de/" class="col2  pad1 margin0r  space-bottom2 sponsor"><img src="/logos/geofabrik.png"></a>
				<a href="http://www.hitachi.co.jp/" class="col2 pad1 margin0r space-bottom2 sponsor"><img src="/logos/hitachi.png"></a>
			</div>

			<div class="clearfix">
        <a href="https://mapzen.com/" class="col2 pad1 margin0r space-bottom2 sponsor"><img src="/logos/mapzen.png"></a>
			</div>
		</div>

   <div class="space-bottom4 quiet">
      <h4 class="uppercase space-bottom1 space-top4">Supporter</h4>

      <a href="https://georepublic.info/ja/" class="space-right2">Georepublic Japan</a>
      <a href="http://mierune.co.jp/" class="space-right2">MIERUNE</a>
      <a href="http://code4japan.org/" class="space-right2">Code for Japan</a>
      <a href="http://www.3bit.co.jp/" class="space-right2">Sunbit System Co.,Ltd.</a>
      <a href="http://thedesignium.com/" class="space-right2">TheDesignium Inc.</a>
	</div>

<!--      <div class="col12 keyline-bottom space-bottom4 contain center pad4y quiet">
         <h2 class="space-bottom1">スポンサーを募集中です</h2>
         <p class=""><a href="Sponsorship2017.pdf">スポンサーご提案書</a>をご確認ください。さらに詳細な内容は<a href="mailto:sponsors@stateofthemap.org">sponsors@stateofthemap.org</a>までお問い合わせください。</p>
		</div>
-->
	</div>
</section>
