---
layout: program
color: fill-midnight
color: dark-nav
---
<div class='' id="event-page">
  <div class=''>
    <div class='pad4y col12 clearfix space-bottom8'>
      <div class='col4'><h2 class='spartan color-{{page.color}}2'>{{page.title}}</h2>
        <span class='inline pad0'>{{page.time}}, {{page.room}}</span>
	{% unless page.recording %}
        <span class='inline pad0'><img src="/img/novideo-dark.svg" class="noRecordingDark" height="25" alt="no recording" title="This session will not be recorded."> This event will not be recorded.</span>
	{% endunless %}
        {% unless page.category == 'lightning' %}
        <p class="space-top2">
           <!--<span class='inline pad0 dot fill-{{page.category | replace: ' ',  '-'}}'></span>-->
           <!--Theme:<br>
	   &bull; <span class='sans capitalize'>{{page.theme}}</span>-->
        </p>
        <p class="space-top2">
          <!--Audience:<br>
	  &bull; <span class='sans capitalize'>{{page.audience}}</span>-->
        </p>
        {% endunless %}
      </div>
      <div class='col7 margin1 min-height'>
        <header class='space-bottom2'>

          <div class='col12'>
            <h3 class='inline event-title'>{{page.authors}}
               <small class='inline pad1x'>{{page.length}}</small>
            </h3>

            {% if page.twitter %}
            <a
              target='_blank'
              class='social small sans icon twitter space-right1'
              title='Profile on Twitter'
              href='https://twitter.com/{{page.twitter}}'>
              {{page.twitter}}</a>
            {% endif %}
            {% if page.osm %}
            <a
              target='_blank'
              class=' social small sans icon osm'
              title='Profile on OpenStreetMap'
              href='http://www.openstreetmap.org/user/{{page.osm}}'>
              {{page.osm}}</a>
            {% endif %}
          </div>

          <small class="space-bottom1 space-top0 inline">
            {% if page.role %}<span class='sans'>{{page.role}}</span>{% endif %}
            {% if page.affiliations %}<span class='sans'>{{page.affiliations}}</span>{% endif %}


          </small>

        </header>
        {% if page.youtube_recording %}
        <div class='prose space-bottom2'>
          {% if page.youtube_time %}{% assign youtube_second = page.youtube_time[0] | times:60 | plus:page.youtube_time[1] %}{% endif %}
          <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ page.youtube_recording }}{% if page.youtube_time %}?start={{ youtube_second }}{% endif %}" frameborder="0" allowfullscreen></iframe>
        </div>
        {% endif %}
        {% if page.slides %}
        <div class='prose space-bottom2'>
          <a
            target="_blank"
            title="Open presentation slides"
            href="{{ page.slides }}">
            Open presentation slides in a new tab</a>
        </div>
        {% endif %}
        <div class='prose space-bottom2'>
          {{content}}
        </div>


      {% if page.category == 'lightning' %}
        <a
          href='{{site.baseurl}}/lightning_talks'
          class='button pad2x stroke icon prev space-top4 round-big'>Back to lightning talks</a>

      {% else %}
        <a
	    href='{{site.baseurl}}/program/#{{page.ref}}'
          class='button pad2x stroke icon prev space-top4 round-big'>Back to program</a>
      {% endif %}
      </div>
    </div>
  </div>
</div>
